*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    line-height: 1.5;
    color: white;
}
*::after,
*::after{
    box-sizing: border-box;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    background-image: url('./assets/bg/darkweatherbg.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
header{
    max-width: 90%;
    margin: 0 auto;
}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.site-title,
.input-container,
.toggle-container {
    margin: .5rem 0;
}

.input-container input {
    font-size: 1.25rem;
    height: 2rem;
    color: black;
    padding: .25rem;
    flex-basis: 100%;
    
}
.input-container{
    flex-basis: 40%;
}
#search{
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.submit{
    width: 5rem;
    height: 2rem;
    color: black;
    font-size: 1.125rem;
}
.appendWeather{
    margin: 2rem 0;
}
.weather-card-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    background: rgba( 110, 186, 225, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    opacity: 0;
    animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -o-animation: fadeIn .5s;
    -ms-animation: fadeIn s;
    // background: rgba( 255, 255, 255, 0.6 );
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    // backdrop-filter: blur( 3.5px );
    // -webkit-backdrop-filter: blur( 3.5px );
    // border-radius: 10px;
    // border: 1px solid rgba( 255, 255, 255, 0.18 ); 
}
.weather-card-container.fade-in{
    animation: fadeIn .5s ease-in;
    -webkit-animation: fadeIn .5s ease-in;
    -moz-animation: fadeIn .5s ease-in;
    -o-animation: fadeIn .5s ease-in;
    -ms-animation: fadeIn .5s ease-in;
    opacity: 1;
    
}
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .spin {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
  }
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
.spin.stop{
    display: none;
}
.date{
    height: 24px;
}
.weather-card-top, 
.weather-card-bottom {
 min-width: 100%;
}
.weather-card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.main-icon{
    height: 6rem; 
    width: 6rem;
}
.weathertitle{
    font-size: 1.5rem;
    font-weight: 300;
}
.temp{
    font-size: 2rem;
    font-weight: 600;
}

/* STATS CARD BOTTOM */
.weather-card-bottom-row{
    display: flex;
    justify-content: space-evenly;
}
.stats-container{
    display: flex;
}
.stats-value{
    font-size: 1.5rem;
}
.helper-icon{
    height: 3rem;
    width: 3rem;
}

/* Forecast Card */
.appendForecast{
    width: 90%;
    display: grid;
    margin: 0 auto;
  
}
.foreCast-Card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: .5rem 0;
    background: rgba( 110, 186, 225, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.foreCast-Card-img-con{
    height: 3rem;
    width: 3rem;
}


/* grid-auto-rows: 150px;
grid-template-columns: repeat(auto-fit, minmax(53px, 100px));
place-content: center; */

.switch-field {
	display: flex;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: rgba( 110, 186, 225, 0.9 );;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
@media  (min-width: 786px) {
    .weather-card-container{
        flex-direction: row;
    }
    .weather-card-top,
    .weather-card-bottom{
        min-width: 45%!important;
    }
    .weather-card-bottom-row{
        margin: 1rem;
    }
    .appendForecast{
        grid-auto-rows: 150px;
        grid-template-columns: repeat(auto-fit, minmax(53px, 1fr));
        place-content: center;
        grid-gap: .25rem;
    }
    .foreCast-Card{
        flex-direction: column;
    }
}

