*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    line-height: 1.5;
}
*::after,
*::after{
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-title,
.input-container,
.toggle-container {
    margin: .5rem 0;
}

.site-title h1{
    width: 11.625rem;
}
.input-container input {
    display: block;
    font-size: 1rem;
    height: 1.5rem;
    width: 11.625rem;
}


.weather-card-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;

}
.weather-card-top, 
.weather-card-bottom {
 min-width: 90%;
}
.weather-card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-icon{
    height: 6rem; 
    width: 6rem;
}
.weathertitle{
    font-size: 1.5rem;
    font-weight: 300;
}
.temp{
    font-size: 2rem;
    font-weight: 600;
}

/* STATS CARD BOTTOM */
.weather-card-bottom-row{
    display: flex;
    justify-content: space-evenly;
}
.stats-container{
    display: flex;
}
.helper-icon{
    height: 3rem;
    width: 3rem;
}

// Switch 
//Box around
.switch-field {
	display: flex;
	overflow: hidden;
}
//hide default
.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
